/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --page-bg-color: #000028;
  --page-bg-image: url(../images/cover-image-dark.png);
  --accent-color: #ff0070;
  --button-hover: #ff007066;
  --button-color: #ff0070;
  --title-color: #db00ff;
  --main-title-color: #ff0070;
  --main-font: "IBM Plex mono", sans-serif;
  --main-font-color: #f1b2ce;
  --decor-color: #ff0070;
  --footer-shadow-color: #ff0070;
  --card-title-color: #000028;
  --main-font-size: 18px;
  --main-line-height: 23.4px;

  .rec {
    display: block;
  }
}
